<div class="flex flex-col gap-10 h-96">
	<p-card [style]="{ height: '100%', overflow: 'scroll' }">
		<div class="flex flex-col gap-4 h-96">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non eros fermentum, luctus mi quis,
					consectetur ex. Mauris in ex fringilla magna semper fermentum. Maecenas viverra nulla eu tortor
					sollicitudin
					tincidunt. Aliquam lacinia sem id rutrum convallis. Duis mattis ante justo, eget finibus orci
					condimentum
					eu. Aliquam augue leo, convallis sit amet hendrerit vel, aliquet et ex. Phasellus porta ex lacus, et
					volutpat ipsum ornare id. Etiam posuere neque porta, luctus risus in, mollis nisl.
				</p>
	
				<p>
					Maecenas vel sagittis metus. Proin cursus eget dolor ut consequat. Duis ac nibh vitae diam efficitur
					fermentum ac vel nisl. Sed sit amet fermentum dui. Cras volutpat at velit at feugiat. Etiam molestie,
					enim
					ut vehicula hendrerit, mauris magna facilisis magna, vel interdum ante est id arcu. Donec erat velit,
					porta
					in consequat sit amet, aliquam ac lectus. Aenean imperdiet tellus a sem lacinia interdum.
				</p>
	
				<p>
					Sed enim orci, vestibulum maximus rhoncus vitae, mattis porttitor dui. Fusce sodales magna in magna
					aliquet
					vehicula. Vestibulum faucibus urna id aliquam volutpat. Vivamus dapibus semper blandit. Nullam euismod
					arcu
					a nulla ornare dictum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
					curae; Nam id lectus hendrerit, mollis lacus vel, finibus odio. Proin non sodales felis. Aliquam
					fringilla
					libero ante, sed bibendum odio aliquam eu. Nunc non vulputate nisl. Nullam et ex ut erat consequat
					mattis.
					Cras ultricies commodo sem nec consectetur. In sed risus nisl. Maecenas condimentum facilisis malesuada.
					Cras laoreet diam non risus elementum ultricies.
				</p>
	
				<p>
					Etiam metus arcu, rhoncus molestie porttitor sit amet, ullamcorper nec sapien. Nunc id turpis rutrum,
					pulvinar libero ac, pulvinar lacus. Praesent luctus vehicula ultrices. Fusce consequat lobortis ex, ut
					luctus nisl efficitur in. Curabitur rhoncus eleifend efficitur. Suspendisse potenti. Suspendisse
					potenti.
					Duis vulputate sit amet tellus sit amet placerat. Suspendisse potenti. Lorem ipsum dolor sit amet,
					consectetur adipiscing elit. Suspendisse condimentum aliquam imperdiet. Proin rutrum, odio nec convallis
					facilisis, ex mi mollis nisi, eget elementum ligula nibh sit amet ante. Etiam non porta justo, tincidunt
					dignissim mauris. Proin aliquet dolor non mauris fringilla maximus. Curabitur molestie neque sit amet
					interdum blandit.
				</p>
	
				<p>In libero dolor, vestibulum vel condimentum elementum, hendrerit sit amet felis. Vestibulum vitae
					elementum
					neque, et fringilla est. Etiam rutrum, arcu ac placerat ornare, nulla magna tincidunt lectus, tristique
					tincidunt mi libero nec elit. Maecenas bibendum orci sapien, in bibendum ante elementum eget. Morbi
					rhoncus
					velit ut hendrerit elementum. Proin id est sodales, bibendum tortor ac, maximus turpis. Mauris egestas
					arcu
					eu orci tristique condimentum. Morbi vulputate dolor turpis, ac pulvinar justo commodo et. Morbi
					elementum
					sapien turpis, nec volutpat odio imperdiet at.</p>
	
				<p>
					Donec interdum, sapien non rutrum laoreet, felis lectus porttitor tortor, a dictum arcu turpis at diam.
					Nam
					volutpat egestas urna, ut mollis nibh pulvinar sed. Aenean bibendum vel erat sed suscipit. Etiam maximus
					sagittis dignissim. Vivamus tincidunt, quam ac venenatis faucibus, sem enim dignissim ligula, non
					pulvinar
					dolor erat ut odio. In hac habitasse platea dictumst. Etiam tristique dolor sem, a posuere tortor
					iaculis
					eget. Donec interdum leo tellus, sed fermentum tortor auctor rhoncus. Lorem ipsum dolor sit amet,
					consectetur adipiscing elit. Proin sit amet quam in magna dapibus bibendum vel vitae libero. Sed ut
					dolor
					egestas, suscipit massa vel, molestie augue.
				</p>
	
				<p>
					Mauris massa est, suscipit eu congue nec, hendrerit ac augue. Vivamus in enim tincidunt, fringilla
					ligula
					nec, consequat nulla. Sed vel sollicitudin massa. Sed a dui at mauris tristique iaculis sit amet ut
					nisi.
					Mauris eros elit, pulvinar at posuere ac, hendrerit sit amet enim. Cras tempor laoreet augue, sit amet
					volutpat orci euismod sed. Donec accumsan pharetra odio, bibendum porttitor magna molestie ac. Mauris
					interdum laoreet neque, et sagittis justo sagittis vel. Lorem ipsum dolor sit amet, consectetur
					adipiscing
					elit. Aliquam placerat vel mauris id eleifend. Phasellus vel tristique lacus. Donec nec orci imperdiet,
					lobortis arcu aliquam, maximus ante. Aliquam erat volutpat. Aliquam dictum enim vel metus suscipit
					aliquet.
					Aliquam sapien nisi, egestas at lorem quis, porttitor volutpat lorem.
				</p>
	
				<p>Sed nec tincidunt odio. Aliquam feugiat accumsan sagittis. Maecenas at sem vel orci finibus varius ut
					quis
					ante. Vestibulum eu interdum arcu. Integer at urna sit amet urna accumsan venenatis. Aliquam vulputate
					eros
					vitae lectus laoreet, et dignissim metus finibus. Maecenas fringilla laoreet ipsum. Maecenas sem purus,
					tristique quis sapien nec, auctor lacinia leo. Etiam consectetur lacus aliquet malesuada vestibulum.
					Suspendisse ultrices ante eget congue hendrerit. Praesent a ullamcorper metus. Integer elementum nibh
					sit
					amet metus aliquet efficitur. Donec pretium feugiat mi, sit amet interdum leo faucibus et. Proin ut
					ipsum
					vel quam placerat sollicitudin sed id tortor. Praesent eget venenatis neque, in rutrum diam. Nulla
					vehicula
					lacinia lorem, ut tempus ipsum.</p>
	
				<p>Sed enim odio, ornare quis sem eget, pulvinar fermentum tellus. Vestibulum consequat pharetra consequat.
					Donec nec tincidunt mi, eu cursus eros. Vestibulum a vestibulum leo. Curabitur hendrerit id nibh at
					consequat. Phasellus pulvinar tempus suscipit. Nullam et elit sapien. Aenean rutrum, dui eget fringilla
					interdum, erat arcu rutrum neque, non gravida dolor neque ac justo. Ut viverra scelerisque neque, sed
					ullamcorper nunc mattis id.
				</p>
				<p>Phasellus varius commodo enim sed fringilla. Class aptent taciti sociosqu ad litora torquent per conubia
					nostra, per inceptos himenaeos. In hac habitasse platea dictumst. Praesent eu lacinia lectus, id
					sollicitudin diam. Donec at felis id tortor tempor faucibus non posuere diam. Vestibulum fermentum
					fermentum
					scelerisque. Curabitur risus tortor, maximus id neque vel, elementum porta augue.</p>
		</div>
	</p-card>
	<div class="bg-white w-full p-4 rounded-lg">
		<form (ngSubmit)="sendMessage()" class="flex gap-10">
			<input [(ngModel)]="userInput" name="userInput" placeholder="Digite sua pergunta" class="w-full"
				required />
				<p-button label="Submit" />
		</form>
	</div>
</div>
