<div class="col-span-12 lg:col-span-6 xl:col-span-3">
    <app-card-subject-progress
        [nquestoes]="129" [nrevisoes]="5" [ntopicos]="15" [progress]="54" subject="História"
    ></app-card-subject-progress>
</div>
<div class="col-span-12 lg:col-span-6 xl:col-span-3">
    <app-card-subject-progress
        [nquestoes]="150" [nrevisoes]="5" [ntopicos]="18" [progress]="65" subject="Matemática"
    ></app-card-subject-progress>
</div>
<div class="col-span-12 lg:col-span-6 xl:col-span-3">
    <app-card-subject-progress
        [nquestoes]="90" [nrevisoes]="12" [ntopicos]="38" [progress]="86" subject="Física"
    ></app-card-subject-progress>
</div>
<div class="col-span-12 lg:col-span-6 xl:col-span-3">
    <app-card-subject-progress
        [nquestoes]="129" [nrevisoes]="5" [ntopicos]="15" [progress]="80" subject="Ciências"
    ></app-card-subject-progress>
</div>